#routesWrapper > * {
    position: absolute;
}

.route-enter {
  opacity: 0.01;
  transform: translateX(-20px);
}

.route-enter.route-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 600ms;
}

.route-leave {
  opacity: 1;
}

.route-leave.route-leave-active {
  opacity: 0.01;
  transition: all 300ms;
}